@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #root {
    height: 100%;
  }

  body {
    @apply antialiased text-slate-900 dark:text-slate-100;
  }
}

@keyframes cloudMove {
  0% { transform: translateX(-100px); }
  100% { transform: translateX(100vw); }
}

.cloud {
  position: absolute;
  opacity: 0.25;
  animation: cloudMove 60s linear infinite;
}
